# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local
.env.test
.env.production

# Build artifacts
build/
dist/
out/
coverage/

# Logs
logs/

# Editor and IDE files
.vscode/
.idea/
*.iml
*.swp

# Miscellaneous
.DS_Store
Thumbs.db
